<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('feed') }}">MiRedSocial</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="d-flex me-auto" method="POST" action="{{ url_for('buscar') }}">
        <input class="form-control me-2" type="search" name="query" placeholder="Buscar usuarios..." aria-label="Buscar">
        <button class="btn btn-outline-light" type="submit">Buscar</button>
      </form>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('feed') }}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('solicitudes') }}">Solicitudes</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('amigos') }}">Amigos</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('perfil') }}">Perfil</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Salir</a></li>
      </ul>
    </div>
  </div>
</nav>